<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="BaseDirectory" value="C:\Workspace\MobileUpdater\MAUFiles"></add>
		<!--upc from sku and code for storeid 11387-->
		<add key="upc_sku_code" value="11387" />
		<!--upc from sku and code for storeid 11370-->
		<add key="upc_sku" value="11370;12411,12821" />
		<!--upc from sku and if null append 9911258 storeid 11258-->
		<add key="upc_sku_append" value="11258" />
		<!--Allowing upc  not equal to null for stores 11258,11370,11387-->
		<add key="upc_not_null" value="11258;11370;11387" />
		<!--exception except msg for store 10002-->
		<add key="exception_store" value="10002" />
		<!--merging qty of duplicate upcs for store 11400-->
		<add key="qty_merging" value="11400;11981;11995" />
		<!-- based on pack and UOM value deposit are calculated for store 11069-->
		<add key="uom_based_deposit" value="11069;12129"/>
		<!-- Excluding TOGO form storeproduct nane -->
		<add key="ExcludeToGo" value="11615"/>
		<add key="StaticQty" value="11868;12152;12242"/>
		<add key="Deposit" value="12129"/>
		<add key="Staticqty100" value="12198;11264;12560"/>
		<add key="EnabledOnline" value="11233"/>
		<add key="NegativeToPositive" value="12382;12414;12796"/>
		<add key="upcskucodeid" value="12820,12821,12368,12371,12373"/>
		

		<!--<add key="BaseDirectory" value="C:\Users\ASI\Desktop\BottleCapps"/>-->
		<!--<add key="LiquorAppsConnectionString" value="PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True" />-->
		<!--<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Passwsord=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>-->
		<!--<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True" />-->

    
    
		<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>
		<!--<add key="LiquorAppsConnectionString" value="Data Source=54.174.152.95;Initial Catalog=stagingliquorapps;User ID=stagingliquorapps;Password=stagingsu982!0;MultipleActiveResultSets=True" />-->		
		<add key="MailUserName" value="no-reply@techmaticsys.com" />
		<add key="BCappsUserName" value="no-reply@bottlecapps.com" />
		<!--<add key="DeveloperId" value="hari@bottlecapps.com" />-->		
		<add key="DeveloperId" value="rajasekhar@bottlecapps.com" />		
		<add key="CloverBaseURL" value="https://api.clover.com" />
		<add key="CloverAPPSecrete" value="3984c527-a413-80d1-63e6-6e4e5aa1ed65" />		
	</appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@bottlecapps.com">
        <network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAQBWLIRVIDP4TCQ2C" password="BOWByfOnl3mQDlGgwAR9H3a9HRfwCtFATkvKPrT+DCba" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>